.button
{
	-fx-background-color:  #0f872a;
}



.button:hover
{
	-fx-background-color: #07eb3c;
}

.button:pressed
{
	-fx-background-color: #054714;
	
}






/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */