.button
{
	-fx-background-color:  #c41088;
}



.button:hover
{
	-fx-background-color: #e880d1;
}

.button:pressed
{
	-fx-background-color: #631d54;
	
}






/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */