.root{
	
	-fx-background-color:F6C337;
	-fx-alignment: center;
}
.label{
	 -fx-alignment: center;
	-fx-font-family: "Calibri";
	-fx-font-weight: bold;
	
}


#TtilePage{
	-fx-alignment: center;	
}
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */